.page {
    margin: 0 auto;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
}

.icon {
    width: 150px;
    height: 150px;
    border-radius: 9999px;
    margin-top: 100px;
    margin-bottom: 75px;
    padding: 5px;
    border: 1px solid lightgray;
}

.welcome {
    font-family: "Dancing Script";
    font-size: 30px;
    margin-bottom: 10px;
}

.ask {
    margin-bottom: 50px;
}

.mat-card {
    box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.2);
    vertical-align: middle;
}


.padding {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 16px;
}

h1 {
    font-family: "Dancing Script";
    font-size: 40px;
}

h2 {
    font-family: "Dancing Script";
    font-size: 30px;
}

.upload-button mat-icon {
    margin-right: 10px;
}

.upload-button span {
    font-family: "Dancing Script";
    font-size: 20px;
}

.upload-button {
    margin-top: 25px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
}

.plant-information {
    font-family: "Dancing Script";
    margin-top: 50px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
}

.info {
    font-size: 25px;
}

.change-user {
    position: absolute;
    right: 0;
    top: 0;
}

.change-user-button {
    margin-top: 25px;
    margin-right: 25px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 4px 8px 4px 8px;
}

.change-user-button mat-icon {
    margin-right: 15px;
}

.change-user-button span {
    font-family: "Dancing Script";  
    font-size: 20px;
}